*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Jost',sans-serif;
}

/*Navbar*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(8px);
  transition-duration: 0.5s;
  z-index: 2;
}

.navcount {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
}

.navbar-left {
  display: flex;
}

.logo {
  color: white;
  font-family: 'Red Hat Display';
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1.5px;
}

.navbar-right{
  display: flex;
  gap: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 550;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  letter-spacing: 1.2px;
  border-bottom: 2px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-active {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 550;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link:hover {
  color: red;
  border-bottom: 2px solid white;
}

.nav-active:hover {
  color: red;
  border-bottom: 2px solid white;
}

.nav-icon {
  display: none;
  color: white;
}

@media screen and (max-width: 800px) {
  .navbar {
      display: block;
      padding-left: 0;
      padding-right: 0;
  }
  .logo {
      font-size: 21px;
      padding-left: 30px;
  }
  .navbar-left {
      display: flex;
      justify-content: space-between;
  }
  .nav-link,
  .nav-active {
      font-size: 17px;
      padding-left: 30px;
      padding-right: 30px;
  }
  .nav-first {
      margin-top: 20px;
  }
  .nav-active {
      background: linear-gradient(90deg, #e7c5ae 0%, #fcf5eb00 100%);
      border-top: 1px solid #895e3f;
      border-width: 1px;
  }
  .nav-icon {
      align-self: center;
      padding-right: 30px;
  }
  .navbar-right {
      display: block;
  }
}
@media screen and (max-width: 800px) {
  .navbar-right a{display: none;}
  .navbar-left a.nav-icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 800px) {
.navbar-right.responsive {position: relative;}
.navbar-left.responsive .nav-icon {
  position: absolute;
  right: 0;
  top: 0;
}
.navbar-right.responsive a{
  float: none;
  display: block;
  text-align: left;
}
}
@media screen and (max-width: 400px) {
  .logo {
      font-size: 18px;
      padding-left: 25px;
  }
  .nav-link,
  .nav-active {
      font-size: 16px;
      padding-left: 25px;
      padding-right: 25px;
  }
  .nav-active {
      background: black;
      border-top: 1px solid white;
      border-width: 1px;
  }
  .nav-icon {
      align-self: center;
      padding-right: 25px;
  }
}

/*section product*/
.product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin: 30px auto;
}
.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.product-heading{
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    color: #313131;
    margin-bottom: 30px;
}
.product-box{
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.08);
    position: relative;
}
 
.product-img-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}
.product-img{
    width: 100%;
    height:300px;
    display: flex;
}
 
.product-img img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
}

.product-box-offer {
    position: absolute;
    left: 30px;
    top: 20px;
    width: 65px;
    height: 24px;
    color: #ffffff;
    background-color: #e63b3b;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    z-index: 1; /* Tambahkan z-index yang lebih rendah dari product-img */
}
.product-box-text{
     margin-top: 5px;
     font-family: 'Open Sans',sans-serif;
 }
.product-title{
    color: #333333;
    font-weight: 600;
    transition: all ease 0.3s;
    text-decoration: none;
}
.product-title:hover{
    opacity: 0.7;
    transition: all ease 0.3s;
}
.product-category{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: #ff25257c;
}
.product-category span{
    color: #acacac;
    font-size: 0.9rem;
    margin:5px 0px;
}
.price-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.price-buy .p-price{
    font-size: 1.3rem;
    color: #333333;
    font-weight: 700;
}
.price-buy .p-buy-btn{
    color: #e63b3b;
    margin: 0px 5px;
    font-weight: 500;
    text-decoration: none;
}
.price-buy .p-buy-btn:hover{
    text-decoration: underline;
}
 
@media(max-width:500px){
    .product-slider-heading{
        text-align: center;
        font-size: 1.3rem;
    }
    .product-slider{
        width: 100%;
    }
    .product-img a,
    .product-img{
    height:230px;}
    
.product-img a img{
    animation:none;
}
.product-img-back{
    display: none;
 }
 .product-img-container:hover .product-img-back{
     display: none;
 }
 .product-img-container:hover .product-img-front{
     display: block;
 }
}
@media(max-width:400px){
    .product-img a,
    .product-img{
    height:190px;}
    .product-box-offer{
        top: 10px ;
        left: 20px ;
    }
}
  
/*Bagian Footer*/
.footer {
  background-color: #000000;

  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer .footer-right {
    width: 30%;
}

.footer h3 {
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
}

.footer .footer-right img {
    width: 20%;
    vertical-align: middle;
}

.footer .footer-right .credit-cards {
    width: 100%;
}

.footer .footer-right p {
    color: #fcfcfc;
    font-size: 15px;
    padding-top: 10%;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-center i:hover {
  background-color: rgb(184, 130, 86);
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer .footer-left {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #f8eeee;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;

}

.footer .footer-media {
    margin-top: 40px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: rgb(184, 130, 86);
}

@media (max-width: 880px) {

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0px;
    }

}
