.body {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
}

/*Navrbar*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(8px);
  transition-duration: 0.5s;
  z-index: 2;
}

.navcount {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
}

.navbar-left {
  display: flex;
}

.logo {
  color: white;
  font-family: 'Red Hat Display';
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1.5px;
}

.navbar-right{
  display: flex;
  gap: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 550;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  letter-spacing: 1.2px;
  border-bottom: 2px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-active {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 550;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link:hover {
  color: red;
  border-bottom: 2px solid white;
}

.nav-active:hover {
  color: red;
  border-bottom: 2px solid white;
}

.nav-icon {
  display: none;
  color: white;
}

@media screen and (max-width: 800px) {
  .navbar {
      display: block;
      padding-left: 0;
      padding-right: 0;
  }
  .logo {
      font-size: 21px;
      padding-left: 30px;
  }
  .navbar-left {
      display: flex;
      justify-content: space-between;
  }
  .nav-link,
  .nav-active {
      font-size: 17px;
      padding-left: 30px;
      padding-right: 30px;
  }
  .nav-first {
      margin-top: 20px;
  }
  .nav-active {
      background: linear-gradient(90deg, #e7c5ae 0%, #fcf5eb00 100%);
      border-top: 1px solid #895e3f;
      border-width: 1px;
  }
  .nav-icon {
      align-self: center;
      padding-right: 30px;
  }
  .navbar-right {
      display: block;
  }
}
@media screen and (max-width: 800px) {
  .navbar-right a{display: none;}
  .navbar-left a.nav-icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 800px) {
.navbar-right.responsive {position: relative;}
.navbar-left.responsive .nav-icon {
  position: absolute;
  right: 0;
  top: 0;
}
.navbar-right.responsive a{
  float: none;
  display: block;
  text-align: left;
}
}
@media screen and (max-width: 400px) {
  .logo {
      font-size: 18px;
      padding-left: 25px;
  }
  .nav-link,
  .nav-active {
      font-size: 16px;
      padding-left: 25px;
      padding-right: 25px;
  }
  .nav-active {
      background: black;
      border-top: 1px solid white;
      border-width: 1px;
  }
  .nav-icon {
      align-self: center;
      padding-right: 25px;
  }
}

/*header*/
.main-home {
  width: 100%;
  height: 100vh;
  background-image: url('/asset/img/header_image.jpg');
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 0;
  overflow-x: hidden;
}
.header-text h1{
  color: rgb(245, 250, 250);
  font-size: 65px;
  font-weight: 600;
  margin: 6px 0 10px;
  padding-left: 100px;
}
.header-text p{
  color: whitesmoke;
  font-size: 20px;
  font-style: italic;
  margin-top: 20px;
  padding-left: 100px;
}
.ctn {
  margin-left: 100px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #f5f5f5;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 18px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  border-radius: 2rem;
}
.ctn:hover {
  background-color: #da1616;
  border: 1px solid #a0785b;
  border-radius: 2rem;
}

/*section category*/
.category .box-category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.1rem;
}
.category h1 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'Open Sans',sans-serif;
  color: #313131;
  margin-bottom: 30px;
  text-align: center;
}
.category .box-category .box {
  text-align: center;
}
.category .box-category .box:hover h3{
  color: rgb(201, 19, 19);
  list-style: none;
}
.category .box-category .box img {
  height: 8rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.category .box-category .box h3 {
  font-size: 1rem;
  color: black;
  font-weight: bolder;

} 

/*section banner*/
.banner {
  margin: 40px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/asset/img/SECTION.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
.bannerteks {
  color: white;
  font-size: 16px;
  padding-top: 30px;
}
.bannerdiskon {
  color: white;
  font-size: 40px;
  padding-left: 10px 0;
}
.bannerdiskon span{
  color: rgb(245, 6, 6);
}
.banner button {
  color: #f5f5f5;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 11px 18px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}
.banner button:hover {
  background-color: #da1616;
  border: 1px solid #a0785b;
}

/*section information*/
.information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.information .information-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/asset/img/diskon\ 2.jpg);
  min-width: 600px;
  height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
.information .information-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/asset/img/diskon\ 1.jpg);
  min-width: 600px;
  height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
.information h4 {
  color: #000000;
  font-size: 30px;
  font-weight: 300px;
}
.information h2 {
  color: #c91616;
  font-size: 50px;
  font-weight: 800px;
}
.information h3 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500px;
}
.information h5 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400px;
}
.information span {
  color: #050505;
  font-size: 14px;
  font-weight: 500px;
}
.information .info-button {
  color: #f5f5f5;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 18px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}
.information .info-button:hover {
  background-color: #da1616;
  border: 1px solid #a0785b;
}

/*section product*/
.product{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.slider-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product-heading{
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'Open Sans',sans-serif;
  color: #313131;
  margin-bottom: 30px;
}
.product-box{
  width: 100%;
  gap: 2rem;
  border: 1px solid rgba(0,0,0,0.08);
  position: relative;
}
.product-img-container{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.product-img{
  width: 100%;
  height:200px;
  display: flex;
}
.product-img img{
  width: 100%;
  height: 100%;
  object-fit:contain;
  object-position: center;
}
.product-box-text{
   margin-top: 5px;
   font-family: 'Open Sans',sans-serif;
}
.product-title{
  color: #333333;
  font-weight: 600;
  transition: all ease 0.3s;
  text-decoration: none;
}
.product-title:hover{
  opacity: 0.7;
  transition: all ease 0.3s;
}
.product-category{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: #ff25257c;
}
.product-category span{
  color: #acacac;
  font-size: 0.9rem;
  margin:5px 0px;
}
.price-buy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.price-buy .p-price{
  font-size: 1.3rem;
  color: #333333;
  font-weight: 700;
}
.price-buy .p-buy-btn{
  color: #e63b3b;
  margin: 0px 5px;
  font-weight: 500;
  text-decoration: none;
}
.price-buy .p-buy-btn:hover{
  text-decoration: underline;
}

/*section offer*/
.offer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.offer .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  background-color: #4e4848;
  min-width: 250px;
  padding: 15px;
  margin: 10px;
  flex-grow: 0.7;
}
.offer .icon i {
  color: #ffffff;
  font-size: 2rem;
  margin: 15px;
}
.offer .icon h3 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
}
.offer .icon p {
  color: #ffffff;
  margin: 0px;
  font-size: 0.9rem;
}

/*section riview*/
.review .review-h1 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'Open Sans',sans-serif;
  color: #313131;
  margin-bottom: 30px;
  text-align: center;
}
.review .box-review {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.review .box-review .box {
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  padding: 3rem 2rem;
  position: relative;
}
.review .box-review .box .fa-quote-right {
  position: absolute;
  bottom: 3rem; right: 3rem;
  font-size: 6rem;
  color: rgb(50, 98, 139);
}
.review .box-review .box .stars .i{
  color: rgb(241, 56, 32);
  font-size: 1rem;
}
.review .box-review .box .p {
  color: #ccc;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2rem;
}
.review .box-review .box .user {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
.review .box-review .box .user img{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.review .box-review .box .user .h3{
  font-size: 2rem;
  color: #333;
}
.review .box-review .box .user .span{
  font-size: 1.5rem;
  color: #999;
}

/*Bagian Footer*/
.footer {
  background-color: #000000;

  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer .footer-right {
    width: 30%;
}

.footer h3 {
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
}

.footer .footer-right img {
    width: 20%;
    vertical-align: middle;
}

.footer .footer-right .credit-cards {
    width: 100%;
}

.footer .footer-right p {
    color: #fcfcfc;
    font-size: 15px;
    padding-top: 10%;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-center i:hover {
  background-color: rgb(184, 130, 86);
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer .footer-left {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #f8eeee;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;

}

.footer .footer-media {
    margin-top: 40px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: rgb(184, 130, 86);
}

@media (max-width: 880px) {

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0px;
    }

}

/* CSS Tambahan untuk Responsif */
@media screen and (max-width: 576px) {
  .slider-container {
    grid-template-columns: 1fr; /* Mengubah menjadi satu kolom pada layar kecil */
    margin-bottom: 2rem; /* Menambah jarak antar kotak pada layar kecil */
  }
  .review .box-review {
    grid-template-columns: 1fr; /* Mengubah menjadi satu kolom pada layar kecil */
  }
  .review .box-review .box {
    flex: 1 1 100%; /* Mengisi seluruh lebar pada layar kecil */
    margin-bottom: 2rem; /* Menambah jarak antar kotak pada layar kecil */
  }
  .review .box-review .box .user {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Agar konten tetap sebaris */
    padding-top: 2rem;
  }
  .review .box-review .box .user img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .review .box-review .box .fa-quote-right {
    font-size: 6rem;
    color: rgb(50, 98, 139);
    margin-right: 1rem; /* Menambah jarak antara tanda kutip dan nama */
  }
  
  .review .box-review .box .user h3 {
    font-size: 2rem;
    color: #333;
    margin-right: 1rem; /* Menambah jarak antara nama dan tanda kutip */
  }
}

